nav {
    background-color: #0dcaf0;
}

body {
    background-color: #3dd5f3;
}



#fas {
    line-height: unset;
    margin-right: 8px;

}

#fa-tint {
    line-height: unset;
    margin-right: 8px;

}

.card {
    margin: auto auto   ;
}

.hide {
    display: none;
}

.text {
    color: white;
    font-weight: bold;
}